<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.midas2018mobile5.mobileapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MidasMobileApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.activities.MainActivity" />
        <activity
            android:name=".main.activities.LoginActivity"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".main.activities.SignUpActivity"
            android:label="회원가입"
            android:screenOrientation="portrait" />
        <activity android:name=".main.activities.UserActivity" />
        <activity android:name=".main.activities.DetailActivity" />
        <activity android:name=".main.activities.AdminActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".main.activities.CompleteOrderActivity" />
        <activity android:name=".main.activities.MenuAddActivity" />
        <activity android:name=".main.activities.AdminMenuDetailActivity" />
        <activity android:name=".main.activities.MenuEditActivity" />
        <activity android:name=".main.activities.AdminUserChangeActivity" />
        <activity android:name=".main.activities.ReservationDetailActivity">

        </activity>
    </application>

</manifest>